

	<div class="container head">

	<h1 class="headline"> Gif Challenge</h1>


    <input type="text" ng-model="tag" typeahead="tag for tag in ctrl.allTags | filter:$viewValue | limitTo:8" class="form-control">


    <button type="button" class="btn btn-primary searchbtn" ng-model="singleModel" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0" ng-click="ctrl.getImages(tag)">
        Search
    </button>

    <div class="container">
	    <div class="row imageList">
	        <div class="col-md-3" ng-repeat="img in ctrl.gifs">  <img ng-src="{{img.url}}"> </div>
	    </div>
</div>

	</div>


